.first-section {
  background-color: var(--first-light-background);
}

.first-section-title {
  text-align: center;
  padding-top: 24px;
  font-weight: var(--bold-font);
}

.first-section-container {
  padding-top: 24px;
  padding-bottom: 24px;
  display: grid;
  justify-content: center;
}

/* Desktop */
@media (min-width: 901px) {
  .first-section-item {
    padding-left: 24px;
  }
}
