body {
  font-family: var(--primary-font);
}

.site-wrapper {
  max-width: 1200px;
  padding: 0 16px;
  margin: 0 auto;
}

.responsive {
  width: 100%;
  height: auto;
}

a {
  color: var(--white);
  text-decoration: none;
}
