body {
  font-family: var(--primary-font);
}

.site-wrapper {
  max-width: 1200px;
  padding: 0 16px;
  margin: 0 auto;
}

.responsive {
  width: 100%;
  height: auto;
}

a {
  color: var(--white);
  text-decoration: none;
}

.overrideLight {
  background: white;
  color: black;
}

.overrideDark {
  background: black;
  color: white;
}

@media (prefers-color-schene: dark) {
  .main {
    background: black;
    color: white;
  }
}

@media (prefers-color-schene: light) {
  .main {
    background: white;
    color: black;
  }
}
