.site-header {
  background-image: url("../img/header.jpg");
  height: 200px;
}

.title-header {
  color: var(--white);
  text-align: center;
  padding-top: calc(var(--spacing) * 4);
  font-weight: var(--bold-font);
}

.text-header {
  color: var(--white);
  text-align: center;
  padding: calc(var(--spacing) * 2);
}

.button-container {
  display: flex;
  justify-content: center;
}

.button-header {
  background-color: var(--primary-color);
  color: var(--white);
  padding: calc(var(--spacing)) calc(var(--spacing) * 2);
}
