/* Desktop */
@media (min-width: 901px) {
  .first-section-container {
    display: flex;
    justify-content: space-around;
  }

  .column-container {
    display: flex;
    justify-content: space-around;
  }

  .fourth-section {
    display: flex;
    justify-content: space-around;
  }

  .footer-container {
    display: flex;
    justify-content: space-around;
  }
}
