.site-header {
  border: 2px solid red;
}

.second-section {
  border: 2px solid red;
}

.third-section {
  border: 2px solid red;
}

.fourth-section {
  border: 2px solid red;
}

.site-footer {
  border: 2px solid red;
}
