/* Desktop */
@media (min-width: 901px) {
  .first-section-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .column-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .fourth-fifth-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
