:root {
  --primary-font: "open-sans";
  --thin-font: 300;
  --normal-font: 400;
  --bold-font: 600;

  --first-light-background: #eaeaea;
  --primary-color: #333;
  --white: #fff;
  --black: #000;
  --secondery-color: #2690d4;
  --button-border: 1px solid #666;

  --spacing: 8px;
  --xSmall: 0.5em;
  --small: 0.9em;
  --medium: 1em;
  --large: 1.2em;
  --xLarge: 1.5em;
  --xxLarge: 2em;
}
