:root {
  --primary-font: "open-sans";
  --thin-font: 300;
  --normal-font: 400;
  --bold-font: 600;

  --black-color: #000000;
  --white-color: #ffffff;
  --light-color: #eaeaea;
  --dark-color: #333333;
  --dark-text-color: #000000;
  --light-text-color: #ffffff;
}
